* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 width: 100%;
}

#rect {
    width: 60%;
    height: 60%;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagediv {
    position: absolute;
    width: 200px;
    height: 270px;
    /* background-color: yellow; */
    overflow: hidden;
}

.imagediv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%);
}