* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: gilroy;
}
html,
body {
 height: 100%;
 width: 100%;
 background-color: #111;
 gap: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

/* img {
    height: 200px;
    width: 150px;
    object-fit: cover;
} */

button {
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    position: relative;
    z-index: 1;
}

button:active {
    scale: 0.95;
}