* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: gilroy;
}

html,

body {
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

#box {
 height: 200px;
 width: 200px;
 background-color: rgb(0, 0, 0);
 border-radius: 50%;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:active {
    scale: 0.95;
}