* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: gilroy;
}

html,

body {
 height: 100%;
 width: 100%;
}

#box {
 height: 200px;
 width: 200px;
 /* background-color: coral; */
 border-radius: 50%;
 border: 4px solid black;
}